/*--- Fonts ---*/

@font-face {
      font-family: "LeviReBrushed";
      src: url("../fonts/LeviReBrushed.woff") format("woff");
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: "Poppins-Bold";
      src: url("../fonts/Poppins-Bold.woff") format("woff");
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: "Poppins-Light";
      src: url("../fonts/Poppins-Light.woff") format("woff");
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: "Poppins-Medium";
      src: url("../fonts/Poppins-Medium.woff") format("woff");
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: "Poppins-Regular";
      src: url("../fonts/Poppins-Regular.woff") format("woff");
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: "Poppins-SemiBold";
      src: url("../fonts/Poppins-SemiBold.woff") format("woff");
      font-weight: normal;
      font-style: normal;
}

/*--- Fonts ---*/


/*mixins*/
$lrb: LeviReBrushed;
$pb: Poppins-Bold;
$pl: Poppins-Light;
$pr: Poppins-Regular;
$ps: Poppins-SemiBold;
$pm: Poppins-Medium;
/*mixins*/

/*Color mixins*/
$white: #fff;
$black: #000;
$orange: #f75023;
/*Color mixins*/

/*--- general mixins ---*/
@mixin bg($imgpath, $position: left center, $repaeat: no-repeat) {
      background: url(#{$imgpath}) $repeat $position;
}

@mixin trans() {
      transition: 0.5s all ease-out, 0.5s all ease-in;
      -ms-transition: 0.5s all ease-out, 0.5s all ease-in;
      -webkit-transition: 0.5s all ease-out, 0.5s all ease-in;
      -o-transition: 0.5s all ease-out, 0.5s all ease-in;
}

@mixin cap() {
      text-transform: uppercase;
}

/*--- general mixins ---*/

[class*='col'] {
      padding: 0;
      margin: 0;
}

._fl {
      float: left;
}

._fr {
      float: right;
}

.flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
}



/*HEADER*/

.header {
      width: 100%;
      padding: 10px 0;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;

      &.is-sticky {
            background: rgba(0, 0, 0, 0.8);
            transition: 0.5s all ease-in-out;
      }

      .flex {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                  width: 100px;

                  img {
                        width: 100%;
                        max-width: 100%;
                        object-fit: contain;
                        object-position: center;
                  }
            }

            .menus {
                  width: calc(100% - 100px);
                  padding-left: 20px;
                  display: flex;
                  align-items: center;
                  justify-content: space-around;

                  .menu_list {
                        text-align: right;

                        ul {
                              display: flex;
                              align-items: center;
                              justify-content: flex-end;

                              li {
                                    &:not(:last-child) {
                                          margin-right: 50px;
                                    }

                                    font: 18px/24px $pm;
                                    color: $white;

                                    a {
                                          display: block;
                                          transition: 0.5s all ease-in-out;
                                          position: relative;
                                          -webkit-background-clip: text;
                                          -webkit-text-fill-color: transparent;
                                          background-image: linear-gradient(to right, $orange, $orange 50%, $white 50%);
                                          background-size: 200% 100%;
                                          background-position: 100%;

                                          &::before {
                                                content: "";
                                                width: 100%;
                                                height: 3px;
                                                position: absolute;
                                                left: 0;
                                                bottom: -3px;
                                                background: $orange;
                                                transition: 0.5s transform ease;
                                                transform: scale3d(0, 1, 1);
                                                transform-origin: 100% 50%;
                                                border-radius: 5px;
                                          }
                                    }

                                    &:hover,
                                    &.active {
                                          a {
                                                transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
                                                background-position: 0%;

                                                &::before {
                                                      transform: scale3d(1, 1, 1);
                                                      transform-origin: 0 50%;
                                                }
                                          }
                                    }
                              }
                        }
                  }

                  .download_cv {
                        ul {
                              li {
                                    a {
                                          width: max-content;
                                          display: block;
                                          padding: 10px 25px;
                                          color: $orange;
                                          font: 16px/24px $pb;
                                          text-transform: uppercase;
                                          border: 1px solid $orange;
                                          border-radius: 30px;
                                          transition: 0.5s all ease-in-out;
                                          &:hover {
                                                background: $orange;
                                                color: $white;
                                          }
                                    }
                              }
                        }
                  }
            }
      }
}

@keyframes bubble {
      100% {
            transform: scale(1);
      }
}

@keyframes bubble2 {
      100% {
            color: $orange;
      }
}

@keyframes float {
      0% {
            transform: translatey(0px);
      }

      50% {
            transform: translatey(-20px);
      }

      100% {
            transform: translatey(0px);
      }
}

/*HEADER*/

/*HOME*/
.home_page {
      .banners {
            width: 100%;
            background: url(../Images/banner.jpg) no-repeat center center #171c22;
            background-size: contain;
            padding: 120px 0 50px;

            .ban_content {
                  width: 50%;

                  h3 {
                        font: 45px/45px $pm;
                        color: $orange;
                        margin-bottom: 30px;
                  }

                  h1 {
                        font: 85px/100px $lrb;
                        color: $white;
                        margin-bottom: 20px;
                  }

                  p {
                        font: 20px/30px $pr;
                        color: $white;
                        margin-bottom: 35px;

                        span {
                              display: inline-block;
                              margin: 0 10px;
                              text-transform: uppercase;
                              color: $orange;
                              letter-spacing: 10px;
                        }
                  }

                  .abt_btn {
                        display: block;
                        width: 100%;
                        max-width: 200px;
                        font: 18px/26px $ps;
                        color: $white;
                        background: linear-gradient(30deg, $orange 50%, transparent 50%) no-repeat;
                        background-size: 500px;
                        border: 2px solid $orange;
                        border-radius: 30px;
                        text-align: center;
                        padding: 15px 0;
                        transition: background 300ms ease-in-out;
                        background-position: 0%;

                        &:hover {
                              box-shadow: 8px 8px $orange;
                              transition: 0.5s;
                              background: transparent;
                              color: $orange;
                              background-position: 100%;
                        }
                  }
            }

            .ban_img {
                  width: 42%;
                  text-align: right;
                  position: relative;

                  .ban_icons {
                        width: 100%;
                        height: 100%;

                        span.ban_icon {
                              width: 65px;
                              height: 65px;
                              position: absolute;
                              transition: 0.5s all ease-in-out;
                              display: flex;
                              animation: float 6s ease-in-out infinite;
                              -webkit-animation: float 6s ease-in-out infinite;
                              background: #fff;
                              border-radius: 100%;
                              align-items: center;
                              justify-content: center;
                              box-shadow: 0 0 10px 0 #708195;

                              &:first-child {
                                    top: 10%;
                                    left: 0;
                              }

                              &:nth-child(2) {
                                    top: 17%;
                                    right: 5%;
                              }

                              &:nth-child(3) {
                                    bottom: 20%;
                                    left: 10%;
                              }

                              &:nth-child(4) {
                                    bottom: 5%;
                                    right: 10%;
                              }

                              &:last-child {
                                    top: 45%;
                                    right: 20%;
                              }

                              img {
                                    width: 75%;
                                    height: auto;
                                    object-fit: contain;
                                    object-position: center;
                                    border-radius: 100%;
                              }
                        }
                  }
            }

            .scroll_down {
                  width: 100%;
                  text-align: center;
                  position: relative;

                  .chevron {
                        position: absolute;
                        left: 49%;
                        top: -70px;
                        width: 28px;
                        height: 8px;
                        opacity: 0;
                        transform: scale3d(0.5, 0.5, 0.5);
                        animation: move 3s ease-out infinite;

                        &:first-child {
                              animation: move 3s ease-out 1s infinite;
                        }

                        &:nth-child(2) {
                              animation: move 3s ease-out 2s infinite;
                        }

                        &::before,
                        &::after {
                              content: ' ';
                              position: absolute;
                              top: 0;
                              height: 100%;
                              width: 51%;
                              background: #fff;
                        }

                        &::before {
                              left: 0;
                              transform: skew(0deg, 30deg);
                        }

                        &::after {
                              right: 0;
                              width: 50%;
                              transform: skew(0deg, -30deg);
                        }
                  }

                  .text {
                        display: block;
                        margin-top: 25px;
                        font: 16px/24px $pr;
                        color: #fff;
                        text-transform: uppercase;
                        white-space: nowrap;
                        opacity: .25;
                        animation: pulse 2s linear alternate infinite;
                  }
            }
      }
}

@keyframes move {
      25% {
            opacity: 1;

      }

      33% {
            opacity: 1;
            transform: translateY(30px);
      }

      67% {
            opacity: 1;
            transform: translateY(40px);
      }

      100% {
            opacity: 0;
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
      }
}

@keyframes pulse {
      to {
            opacity: 1;
      }
}

/*HOME*/

/*ABOUT US*/
section#about {
      width: 100%;
      padding: 150px 0;
      position: relative;
      // &::before {
      //       content: "";
      //       width: 50%;
      //       height: 50%;
      //       background: url(../Images/patternImg2.png) no-repeat left center;
      //       position: absolute;
      //       left: 0;
      //       top: 0;
      //       background-size: contain;
      // }

      .a_head {
            width: 100%;
            margin-bottom: 50px;
            text-align: center;

            h2 {
                  font: 50px/50px $lrb;
                  color: $orange;
                  position: relative;
                  display: inline-block;
            }
      }

      .a_body {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .a_img {
                  width: 50%;

                  img {
                        width: 100%;
                        object-fit: contain;
                        object-position: center;
                  }
            }

            .a_txt {
                  width: 50%;
                  padding-left: 50px;

                  .blk {
                        width: 100%;

                        &:not(:last-child) {
                              margin-bottom: 30px;
                        }

                        h3 {
                              font: 26px/30px $pr;
                              color: #1d333b;
                              margin-bottom: 20px;

                              span {
                                    color: $orange;
                              }
                        }

                        p {
                              font: 16px/30px $pr;
                              color: #1d333b;
                        }

                        h4 {
                              font: 20px/26px $pb;
                              color: $orange;
                              margin-bottom: 20px;
                        }

                        ul {
                              li {
                                    font: 16px/30px $pr;
                                    color: #1d333b;

                                    &:not(:last-child) {
                                          margin-bottom: 10px;
                                    }

                                    padding-left: 35px;
                                    background: url(../Images/check-mark.png) no-repeat left center;
                                    background-size: 22px;
                              }
                        }
                  }
            }
      }
}

/*ABOUT US*/



/*MY WORK*/
section#my_work {
      width: 100%;
      padding: 150px 0;
      background: url(../Images/mywork_bg.jpg) no-repeat center #171c22;
      background-size: cover;
      border-radius: 100px 0 100px 0;
      position: relative;
      &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 100px 0 100px 0;
      }
      span.top_bar {
            width: 50%;
            height: 24px;
            background: $orange;
            position: absolute;
            top: -12px;
            right: 0;
      }
      span.bot_bar {
            width: 50%;
            height: 24px;
            background: $orange;
            position: absolute;
            bottom: -12px;
            left: 0;
      }
      .m_head {
            width: 100%;
            text-align: center;
            margin-bottom: 100px;
            z-index: 1;
            position: relative;
            h2 {
                  font: 50px/50px $lrb;
                  color: $white;
            }
      }
      .m_body {
            width: 100%;
            position: relative;
            z-index: 1;
            .bg {
                  background: url(../Images/patternImg.png) no-repeat $orange;
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 100%;
                  height: 80%;
                  z-index: -1;
                  border-radius: 30px;
            }
            .box {
                  width: 85%;
                  margin: auto;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  .txt {
                        width: 50%;
                        padding-right: 50px;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        .lft {
                              width: 120px;
                              span {
                                    width: 100%;
                                    height: 120px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font: 60px/60px $pb;
                                    color: $white;
                                    position: relative;
                                    &::before {
                                          content: "";
                                          background-color: #fff;
                                          opacity: .3;
                                          border-radius: .9375rem;
                                          width: 100%;
                                          height: 100%;
                                          position: absolute;
                                          top: 0;
                                          left: 0;
                                          transform: rotate(45deg);
                                    }
                              }
                        }
                        .rft {
                              width: calc(100% - 120px);
                              span {
                                    font: 18px/24px $pr;
                                    color: $white;
                              }
                              h3 {
                                    font: 36px/40px $pb;
                                    color: $white;
                                    margin: 15px 0;
                              }
                              h4 {
                                    font: 22px/24px $pm;
                                    color: $white;
                              }
                              p {
                                    font: 15px/24px $pr;
                                    color: #dbdbdb;
                                    margin: 15px 0 0;
                              }
                        }
                  }
                  .img {
                        width: 50%;
                        img {
                              width: 100%;
                              height: 550px;
                              object-fit: cover;
                              object-position: center;
                              border-radius: 25px;
                        }
                  }
            }
      }
}
/*MY WORK*/

/*EDUCATION*/
section#education {
      width: 100%;
      padding: 150px 0;
      .e_head {
            width: 100%;
            text-align: center;
            margin-bottom: 100px;
            z-index: 1;
            position: relative;
            h2 {
                  font: 50px/50px $lrb;
                  color: $orange;
            }
      }
      .e_body {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .rft {
                  width: 50%;
                  img {
                        width: 100%;
                        object-fit: contain;
                        object-position: center;
                  }
            }
            .lft {
                  width: 50%;
                  padding-right: 50px;
                  .box {
                        width: 100%;
                        height: 200px;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: center;
                        background: url(../Images/patternImg.png) no-repeat center $white;
                        background-size: cover;
                        padding: 30px;
                        border-radius: 30px;
                        position: relative;
                        box-shadow: 10px 10px 5px 0 #e1e1e1;
                        &:not(:last-child) {
                              margin-bottom: 50px;
                        }
                        &:nth-child(2) {
                              background-color: $orange;
                              background-size: cover;
                              span {
                                    color: $orange;
                                    background: $white;
                              }
                              h4, p {
                                    color: $white;
                              }
                        }
                        h4 {
                              font: 24px/36px $pb;
                              color: #171c22;
                              margin-bottom: 15px;
                        }
                        p {
                              font: 18px/24px $pr;
                              color: #171c22;
                        }
                        span {
                              position: absolute;
                              background: $orange;
                              color: $white;
                              font: 20px/24px $pm;
                              padding: 10px 15px;
                              transform: rotate(90deg);
                              right: -50px;
                              top: 78px;
                              border-radius: 10px;
                        }
                  }
            }
      }
}
/*EDUCATION*/

/*SKILLS*/
section#skills {
      width: 100%;
      padding: 150px 0;
      border-radius: 0 100px 0 100px;
      background: url(../Images/skill_bg.jpg) no-repeat center;
      background-size: cover;
      position: relative;
      &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 0 100px 0 100px;
            // background: rgba(247, 80, 35, 0.95);
            background: rgba(0, 0, 0, 0.9);
      }
      .top_bar {
            width: 50%;
            height: 24px;
            background: $orange;
            position: absolute;
            left: 0;
            top: -12px;
      }
      .bot_bar {
            width: 50%;
            height: 24px;
            background: $orange;
            position: absolute;
            right: 0;
            bottom: -12px;
      }
      .s_head {
            width: 100%;
            text-align: center;
            margin-bottom: 100px;
            z-index: 1;
            position: relative;
            h2 {
                  font: 50px/50px $lrb;
                  color: $white;
            }
      }
      .s_body {
            width: 100%;
            position: relative;
            z-index: 1;
            display: flex;
            align-items: initial;
            justify-content: space-between;
            flex-wrap: wrap;
            .box {
                  width: 18%;
                  background: url(../Images/patternImg.png) no-repeat center $white;
                  background-size: cover;
                  border-radius: 30px;
                  padding: 25px;
                  border: 5px solid #f7f0fe;
                  margin-bottom: 30px;
                  box-shadow: 10px 10px 5px 0 #4e4c4c;
                  .img {
                        width: 70px;
                        height: 70px;
                        background: $white;
                        border-radius: 20px;
                        border: 5px solid #f7f0fe;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                              width: 40px;
                              object-fit: contain;
                              object-position: center;
                              border-radius: 10px;
                        }
                  }
                  .txt {
                        width: 100%;
                        margin: 15px 0 25px;
                        h4 {
                              font: 16px/24px $pb;
                              color: #171c22;
                        }
                  }
                  .bar {
                        width: 100%;
                        height: 7px;
                        background: #ede5f6;
                        border-radius: 10px;
                        position: relative;
                        .bg_accent {
                              background: $orange;
                              height: 7px;
                              border-radius: 10px;
                              span {
                                    width: 60px;
                                    height: 30px;
                                    background: $orange;
                                    border-radius: 10px;
                                    position: absolute;
                                    font: 14px/14px $pr;
                                    color: $white;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    top: 50%;
                                    transform: translateY(-50%);
                              }
                        }
                  }
            }
      }
}
/*SKILLS*/


/*WORKS*/
section#works {
      width: 100%;
      padding: 150px 0;
      .w_head {
            width: 100%;
            text-align: center;
            margin-bottom: 100px;
            z-index: 1;
            position: relative;
            h2 {
                  font: 50px/50px $lrb;
                  color: $orange;
            }
      }
      .w_body {
            width: 100%;
            .work_blk {
                  width: 100%;
                  display: flex;
                  align-items: initial;
                  justify-content: space-between;
                  .work_list {
                        display: grid;
                        gap: 1.875rem;
                        flex-basis: 28.625%;
                        padding: 0 0.9375rem;
                        &:last-child {
                              flex-basis: 42.75%;
                        }
                        &:nth-child(2) {
                              order: 1;
                        }
                        .box {
                              width: 100%;
                              border-radius: 3.125rem;
                              overflow: hidden;
                              position: relative;
                              &::before {
                                    content: "";
                                    width: 75%;
                                    height: 75%;
                                    background: rgba(247, 80, 35, 0.75);
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transition: 0.5s all;
                                    transform: translate(-50%, -50%);
                                    opacity: 0;
                              }
                              .details {
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    padding: 30px;
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    transition: 0.5s all;
                                    opacity: 0;
                                    visibility: hidden;
                                    h4 {
                                          font-size: 20px/24px $pm;
                                          color: $white;
                                          margin-bottom: 20px;
                                    }
                                    a {
                                          width: 45px;
                                          height: 45px;
                                          display: block;
                                          margin: auto;
                                          img {
                                                width: 100%;
                                                object-fit: contain;
                                                object-position: center;
                                          }
                                    }
                              }
                              &:hover{
                                    &::before {
                                          opacity: 1;
                                          width: 100%;
                                          height: 100%;
                                    }
                                    & > .details {
                                          opacity: 1;
                                          visibility: visible;
                                          top: 50%;
                                          transform: translateY(-50%);
                                    }
                              }
                        }
                        &:last-child {
                              & > .box:last-child {
                                    &::before {
                                          display: none;
                                    }
                                    &:last-child {
                                          grid-template-columns: repeat(2,minmax(0,1fr));
                                          gap: 1.875rem;
                                    }
                              }
                        }
                  }
            }
            .more {
                  width: 100%;
                  margin-top: 50px;
                  text-align: center;
                  p {
                        font: 16px/24px $pr;
                        color: #171c22;
                        margin: 0;
                        a {
                              transition: 0.5s all;
                              &:hover {
                                    color: $orange;
                                    text-decoration: underline !important;
                              }
                        }
                  }
            }
      }
}
/*WORKS*/

/*CONTACT*/
section#contact {
      width: 100%;
      // background: #171c22;
      padding: 150px 0 100px;

      .c_head {
            width: 100%;
            text-align: center;
            margin-bottom: 50px;

            h2 {
                  font: 50px/50px $lrb;
                  color: $orange;
                  position: relative;
                  display: inline-block;

                  &::after {
                        content: "";
                        width: 35%;
                        height: 3px;
                        background: $white;
                        border-radius: 10px;
                        position: absolute;
                        left: 50%;
                        bottom: -10px;
                        transform: translateX(-50%);
                  }
            }
      }

      .c_body {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .c_img {
                  width: 50%;

                  img {
                        width: 100%;
                        object-fit: contain;
                        object-position: center;
                  }
            }

            .c_txt {
                  width: 50%;
                  padding-right: 50px;

                  ul {
                        padding: 0;
                        margin: 0;
                        li {
                              font: 30px/40px $pl;
                              color: $white;
                              border: 1px dashed $orange;
                              border-radius: 20px;
                              display: flex;
                              align-items: center;
                              justify-content: flex-start;
                              padding: 25px;
                              .img {
                                    width: 75px;
                                    margin-right: 25px;
                                    img {
                                          object-fit: contain;
                                    }
                              }
                              span {
                                    display: block;
                                    font-family: $pm;
                                    color: #171c22;
                              }
                              a {
                                    color: $orange;
                              }

                              &:not(:last-child) {
                                    margin-bottom: 25px;
                              }
                        }
                  }
                  .social_media {
                        width: 100%;
                        margin-top: 50px;
                        h4 {
                              font: 20px/24px $pm;
                              color: #171c22;
                              margin-bottom: 20px;
                        }
                        ul {
                              display: flex;
                              align-items: center;
                              justify-content: flex-start;
                              padding: 0;
                              margin: 0;
            
                              li {
                                    border: none;
                                    padding: 0;
                                    &:not(:last-child) {
                                          margin: 0 20px 0 0;
                                    }
            
                                    a {
                                          font-size: 20px;
                                          width: 45px;
                                          height: 45px;
                                          display: flex;
                                          align-items: center;
                                          justify-content: center;
                                          transition: 0.5s all ease-in-out;
                                          border-radius: 100%;
                                          position: relative;
                                          color: $white;
            
                                          svg {
                                                z-index: 1;
                                          }
            
                                          &::after {
                                                content: '';
                                                position: absolute;
                                                top: 0;
                                                bottom: 0;
                                                left: 0;
                                                right: 0;
                                                margin: auto;
                                                vertical-align: middle;
                                                width: 100%;
                                                height: 100%;
                                                transform: scale(0);
                                                background: $white;
                                                border-radius: 100%;
                                                z-index: 0;
                                          }
            
                                          &::before {
                                                content: '';
                                                position: absolute;
                                                top: 0;
                                                bottom: 0;
                                                left: 0;
                                                right: 0;
                                                border-radius: 100%;
                                                background: $orange;
                                                z-index: 0;
                                          }
            
                                          &:hover {
                                                color: $orange;
                                                animation-name: bubble2;
                                                animation-duration: 0.5s;
                                                animation-delay: 0.1s;
                                                animation-fill-mode: forwards;
                                                border: 1px dashed $orange;
                                                svg {
                                                      color: $orange;
                                                }
            
                                                &::after {
                                                      animation-name: bubble;
                                                      animation-duration: 0.5s;
                                                      animation-fill-mode: forwards;
                                                }
                                          }
                                    }
                              }
                        }
                  }
            }
      }
}

/*CONTACT*/

/*MYPORT*/
section#my_port {
      width: 100%;
      padding: 75px 0;
      background: url(../Images/patternImg.png) no-repeat center $orange;
      background-size: cover;
      .row {
            div {
                  .box {
                        width: 100%;
                        height: 100%;
                        padding: 30px;
                        background: $white;
                        text-align: center;
                        border-radius: 20px;
                        box-shadow: 10px 10px 10px 5px #cd4926;
                        position: relative;
                        &:hover {
                              &::after, &::before {
                                    width: 95%;
                              }
                        }
                        &::before {
                              content: "";
                              width: 60%;
                              height: 10px;
                              position: absolute;
                              left: 10px;
                              top: -5px;
                              border-radius: 5px;
                              transition: 0.5s all;
                        }
                        &::after {
                              content: "";
                              width: 60%;
                              height: 10px;
                              position: absolute;
                              right: 10px;
                              bottom: -5px;
                              border-radius: 5px;
                              transition: 0.5s all;
                        }
                        .icon {
                              width: 75px;
                              height: 75px;
                              margin: 0 auto 20px;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              border-radius: 100%;
                              svg {
                                    font-size: 35px;
                                    color: $white;
                              }
                        }
                  }
                  &:first-child {
                        .box {
                              .icon {
                                    background: #053eff;
                              }
                              .txt {
                                    h4 {
                                          color: #053eff;
                                    }
                              }
                              &::before, &::after {
                                    background: #053eff;
                              }
                        }
                  }
                  &:nth-child(2) {
                        .box {
                              .icon {
                                    background: #e60023;
                              }
                              .txt {
                                    h4 {
                                          color: #e60023;
                                    }
                              }
                              &::before, &::after {
                                    background: #e60023;
                              }
                        }
                  }
                  &:last-child {
                        .box {
                              .icon {
                                    background: #2092cd;
                              }
                              .txt {
                                    h4 {
                                          color: #2092cd;
                                    }
                              }
                              &::before, &::after {
                                    background: #2092cd;
                              }
                        }
                  }
                  .txt {
                        h4 {
                              font: 24px/24px $pb;
                              margin-bottom: 20px;
                        }
                        a {
                              font: 16px/24px $pm;
                              color: $orange;
                              position: relative;
                              width: max-content;
                              margin: auto;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              .link__icon {
                                    position: relative;
                                    padding: 0 10px;
                                    transition: 0.1s ease-in-out;
                                    &::before {
                                          content: "";
                                          width: 10px;
                                          height: 10px;
                                          border-top: 2px solid $orange;
                                          border-right: 2px solid $orange;
                                          display: block;
                                          position: relative;
                                          top: 50%;
                                          left: -2px;
                                          transform: rotate(45deg) translateY(-50%);
                                          transition: 0.3s ease-in-out;
                                          margin-top: 8px;
                                    }
                                    &::after {
                                          content: "";
                                          width: 10px;
                                          height: 2px;
                                          background: $orange;
                                          position: absolute;
                                          top: 50%;
                                          left: 0;
                                          transform: translateY(-50%);
                                          margin-top: 1px;
                                          opacity: 0;
                                          transition: 0.3s ease-in-out;
                                    }
                              }
                              &:hover {
                                    .link__icon {
                                          &::before {
                                                left: 4px;
                                          }
                                          &::after {
                                                opacity: 1;
                                                left: 13px;
                                                width: 15px;
                                          }
                                    }
                              }
                        }
                  }
            }
      }
      
}
/*MYPORT*/

/*FOOTER*/
.footer {
      width: 100%;
      padding: 50px 0;
      text-align: center;
      background: $orange;

      .ft_logo {
            width: 100%;
            margin-bottom: 20px;

            img {
                  max-width: 100px;
                  object-fit: contain;
                  object-position: center;
            }
      }

      .ft_txt {
            p {
                  font: 16px/24px $pr;
                  color: $white;
                  letter-spacing: 5px;
                  margin: 0;
            }
      }

      
}

/*FOOTER*/