body, p, h1, h2, h3, h4, h5, h6, span, ul, ol, li, dl, dt, dd, form {
      padding: 0;
      margin: 0; }
    
    html, body {
      padding: 0;
      margin: 0;
      height: auto;
      background: #eff2f8;
      scroll-behavior: smooth;
  } 
  html {
        scroll-behavior: smooth;
  }
  
    input {
      outline: none; }
    
    textarea {
      border: none;
      outline: none;
      overflow: auto;
      resize: none; }
    
    select {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none; }
    
    select::-ms-expand {
      display: none; }
    
    input.button {
      border: none;
      outline: none; }
    
    input::-webkit-input-placeholder {
      opacity: 1; }
    
    input::-moz-placeholder {
      opacity: 1; }
    
    input:-ms-input-placeholder {
      opacity: 1; }
    
    input:-moz-placeholder {
      opacity: 1; }
    
    input[type=checkbox] {
      border: none;
      outline: none; }
    
    img {
      outline: none;
      border: none;
      max-width: 100%;
      user-select: none;
      -webkit-user-select: none; }
    
    li {
      list-style: none; }
    
    a, a:active, a:hover {
      text-decoration: none;
      outline: none !important;
      user-select: none;
      -webkit-user-select: none; }
    
    a:focus {
      outline: none;
      text-decoration: none; }
    
    * {
      box-sizing: border-box; }
    
    button, a, input[type="submit"] {
      -o-transition: all .5s ease-out, all 0.5s ease-in;
      -ms-transition: all .5s ease-out, all 0.5s ease-in;
      -moz-transition: all .5s ease-out, all 0.5s ease-in;
      -webkit-transition: all .5s ease-out, all 0.5s ease-in;
      transition: all .5s ease-out, all 0.5s ease-in; }
    
    :not(output):-moz-ui-invalid {
      box-shadow: inset; }
    
    a:hover, a, a:focus {
      color: inherit; }
    
    a, a:hover, a:focus, button, button:hover, button:focus {
      outline: none; }
    
    div:focus {
      outline: none; }

.container {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0;
}

